server.port=9000

spring.datasource.url=jdbc:sqlserver://localhost;databaseName=rentonow
spring.datasource.username=
spring.datasource.password=
spring.datasource.driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
spring.jpa.properties.hibernate.dialect=org.hibernate.spatial.dialect.sqlserver.SqlServer2012SpatialDialect

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto = update
# create-drop
# validate
spring.datasource.initialization-mode=always


# Naming strategy
spring.jpa.hibernate.naming.implicit-strategy= org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
spring.jpa.hibernate.naming.physical-strategy= org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

# Don't log when restarting
spring.devtools.restart.log-condition-evaluation-delta=false
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=DEBUG

# HMAC key for authentication/authorization
security.secret=SUPER_SECRET

# Cloudinary api settings
cloudinary.name=dryomnjrg
cloudinary.key=877664312717859
cloudinary.secret=Hv1NNCbQ9OdHi5vBi-5FgrlWlZ0